/*public*/
:root{
    --maincolor:  #fbb731;
    --mainFont: "Nunito Sans", sans-serif;
    --subFont: "Lato", sans-serif;
    --orangecolor: rgb(243,115,53);
    --grayColor:#a8a8a8;
}

 .container{
  max-width: 1140px;
 }
 .mainClr{
    color: var(--maincolor);
 }
 .orangeClr{
    color: var(--orangecolor);
 }
 .orangeClrbg{
    background-color: var(--orangecolor);
 }
.grayColor{
    color: var(--grayColor);
}
.mainfont{
    font-family: var(--mainFont);
}
a{
    text-decoration: none;
     color: rgb(68, 55, 55);
}

/*navbar*/
.nav-index .nav-link{
    color: white;
}
.nav-link{
    color: #443737;
}
.nav-link:hover{
    color: #fbb731;
}
.nav-index{
background: radial-gradient(100% 100% at 50% 0%, #0c4c7b 0%, #1e2f40 100%);
}

/*end navbar*/



.hero{
background: radial-gradient(100% 100% at 50% 0%, #0c4c7b 0%, #1e2f40 100%);
    margin-bottom: 300px;
    overflow-x: hidden;
    
}
.hero-content{
    width:50%;
    align-items:flex-start; 
  
}

.active{      
     color: #fbb731;
}
.hero h1,.hero h2 { 
    font-weight: 900;
    font-size: 120px;
     font-family: Nunito Sans ,sans-serif;
z-index: 10;
}
.bb{
       overflow: hidden;
    position:absolute;
    left: 50%; 
     z-index: 1; /*لجعلها خلف النص*/
}
.bb img{
 
  width:100%;
}

.custom-button{
    background-color:#fbb731 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 22px 50px 20px 50px;
    font-size: 14px;
    font-family: Nunito Sans ,sans-serif;
}
.hero-detailes{
    max-width: 60%;
}
.hero-bg{
    top: 70px; 
    left: 54%;
      width: 40%;  
     
}
.hero-call-relative-parent{
    height: 800px;
}
.hero-call-us{
    background-color: rgb(246,139,52);
   height: 800px;
   width: 100%;
  

}
@media screen and (max-width:660px) {
    .hero-bg{
        display: none;
    }
    .bb{
        top: 80px;
    }
    .hero-content h2{
        font-size: 50px;
    }
   .hero-content h1{
        font-size: 50px;
    } 
    
}
.bb{
    animation: orderContent 3s ease;
 }
 @keyframes orderContent{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(50%);
    }
 }
/*section 2*/
.hero-box{
     background-image: url('../img/public/bg.1.webp');
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.bg1-section .img img{
 margin: auto;
    width: 100%;
}
.offer{
    background-color: var(--maincolor);
    border-radius: 20px;
    background-color: rgb(243,115,53);
}
.Burger-Offers{
     top: 15%;
    left: 15%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.Burger-Offers h3{
     font-weight: 700;
    font-size: 70px;
}
.custom-button{
    background-color:#fbb731 ;
    color: black;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 15px 45px 15px 45px;
    font-size: 14px;
    font-family: Nunito Sans ,sans-serif;
    transition: all .3s;
    display: flex;
    align-items: center;
}
.custom-button:hover{
    background-color: rgb(243,115,53);
    color: #fff;
}

@media screen and (max-width:864px) {
   .Burger-Offers h3{
    font-size: 20px;
   }
    
}
/*end section2*/
/*section3*/
.card{
    
    --bs-card-border-width: none;
}
.Burger-cards .card-body{
padding-top: 79px;
}
.card-body .fs-h5{
    font-size: 60px;
}
 .Burger-cards .card-body h5{
 color: rgb(68, 55, 55);
 font-family: var(--mainFont);
 font-weight:800;
 font-size: 40px;
 text-transform: uppercase;
 }
 .cost h5{
font-family: var(--mainFont);
font-size: 44px;
font-weight: 900;
color: rgb(27, 42, 73);
 }
@media screen and (max-width:860px) {
    .burger-cards-section3{
        border-radius: 5px;
        border: solid 3px var(--maincolor);
        margin-bottom: 10px;
    }
    
}

 
/* end section3*/
/*section4*/
.rating{
    font-size: 24px;
    color: var(--maincolor);
}

.add-to-cart-custombtn{
    
    background-color:#fbb731 ;
    color: black;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 15px 45px 15px 45px;
    font-size: 14px;
    font-family: var(--mainFont);
    transition : all .3s;
    display: flex;
    justify-content: center;
}
.sale{
    border-radius: 16px;
 background-color: rgb(243,115,53);
    color: #fff;
    top: 20px;
    right: 20px;
    padding: 2px 10px;
   
}
.our-products h5{
    color: rgb(27, 42, 73);
    font-weight: 700;
    transition: all .5s;
}
.our-products .card:hover h5{
    color: var(--orangecolor);
}
.our-products span{
    color: var(--orangecolor);
    font-size: 30px;
    font-weight: 800;
     font-family: var(--mainFont);
}
.our-products .oldprice{
    color: var(--grayColor);
    font-size: medium;
}
.add-to-cart-custombtn:hover{
    background-color: rgb(243,115,53);
    color: #fff;
}
.our-products img{
   transition: all .6s ease ;
}
.our-products .card:hover img{
    transform: scale(1.05);
}



/*end section4*/

/*section 5*/
.How-it-works h5 ,.How-it-works h2{
    color: rgb(27, 42, 73);
    font-weight: 600;
    font-size: 30px;
}
    
   .How-it-works .card-body{  /*بدل  <br>        <<<<<<<<<<<<<<<<<<<<
    عملت ماكس ويدث للديف عشان الحكي ينزل سطر*/
    max-width: 220px;
   } 
.circle-img{
border-radius: 50%;
background-color: #fbb731;
width: 250px;
height: 250px;
}
.circle-img img{
     transition: transform 0.3s ease;
}
.How-it-works .card:hover img{
    transform: translateY(-10px);
}
/*end section 5*/
/*section6*/
.our-contact{
color:rgb(27, 42, 73);
 
}
.icon-img{
  transition: all .3s;
}
.our-contact :hover .icon-img{
     transform: rotate(360deg);
}
       
    /*end section6*/
    /*section7*/
    .maps{
     color:rgb(27, 42, 73);
    }
.insta-icon{
     border-radius: 50%;
    background-color: #fbb731;
    width: 40px;
    height: 40px;
     display: flex;
    align-items: center;
    justify-content: center;
 }
 
    /*end section7*/
    /*section8*/
 
    /*end section8*/
    /*footer*/
footer{
      background: radial-gradient(100% 100% at 50% 0%, #0c4c7b 0%, #1e2f40 100%);
    padding-top: 100px;
}
.social-media svg{
 margin-top: 12px;
}
.social-media{
    text-align: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #fbb731;
}
.social-media:hover {
    background-color: #fbb731;
}
.social-media:hover svg {
    color: #fff;
}
.post{
    max-width: 100%;
}
.Latest-Posts img{
    height: 70px;
}

.Latest-Posts .card{
    --bs-card-bg: radial-gradient(100% 100% at 50% 0%, #0c4c7b 0%, #1e2f40 100%);;
      color: #fff;
}
    /*end footer*/
.copyright {
    border-top: 2px solid #3e4e5e;
    padding-top: 48px;
    padding-bottom: 40px;
}

    /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>shop.html<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  @media screen and ( max-width:995px) {
    .choose .choose-card-img{
        height:80% ;
    }
  
  }
 .Menu-list-header{
    background-image: url(../shop/menu-list-img/headerbg.webp);
   background-repeat: no-repeat;
    height: 500px;
    background-size:cover;
      background-position: center;
      background-attachment: fixed;
    
 }   
 .header-content h1{
    font-size: 72px;
    font-weight: 800;
 }
 .header-content h2{
    border-left: 3px solid var(--maincolor);
    padding-left: 5px;
 }
 /*section1*/
.MENU-section1 .container{
    padding-top: 100px;
}
.MENU-section1 .card .img {
overflow:hidden ;
}
.MENU-section1 .card:hover img{
transform: scale(1.1);

}
.MENU-section1 img {
transition: all .4s ease ;
}
 /*end section1*/

 /*section2*/
 
 .choose h1{
    transition: all .2s;
 }
 .choose h1:hover{
    color: var(--orangecolor);
 }

.choose span{
    color: var(--orangecolor);
    font-size: 25px;
    font-weight: 800;
     font-family: var(--mainFont);
}
.choose .oldprice{
    color: var(--grayColor);
    font-size: medium;
}

 /*end section2*/


 /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CONTACT.HTML<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
 /*map section*/
.map-contact .row {
border-top: 5px solid #fbb731;
border-radius: 5px;
box-shadow: 0px 0px 16px 20px rgba(0, 0, 0, 0.09);
}

.map-contact{
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center;
  align-items: center;
  transform: translate(-50%);/*RRRR?*/
    
}
.contact-maps{
    padding-bottom: 200px;
}
.map-contact .row{
    background-color: #fff;
}
@media screen and (max-width:1151px) { 
    .map-contact{
    top:80%;
   width:90% ;
    }
    
}

/*form section2*/
.send-massage {
    padding-top: 300px;
}
.form{
    width:900px;
        margin-left: auto;
    margin-right: auto;
}
.form-part1 input{
border-radius: 6px ;
padding: 5px;
}
.form-part2 textarea{
    padding: 4px 10px;
   border-radius: 6px ;
   height: 150px;
}
.contact-info h2,h3{
    font-size: 19px;
}
@media screen and (max-width: 850px) {
    .contact-info h2,h3 {
        font-size: 12px ;
    }
    .contact-icon .icon-img{
        height: 60%;
        width: 60%;
    }
}
 /*end map section*/

 /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>product.html<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
 /*section 2*/
 .btn-des-rev button{
    background-color: #fff;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    padding:13px 35px;
 }
 .btn-des-rev .btn-dr:hover  {
 color: var(--orangecolor);
 border-color: var(--orangecolor) !important ;
 }
 .description-content{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
 }
 .rev .admin{
     width: 900px;
    margin-left: auto;
    margin-right: auto;  
 }
 .admin-img img{
    width: 70px;
    height: 70px;
    padding: 20px;
 }
 .adborder{
     border-radius: 10px;
 }
 .rev .rating {
    margin-left: 140px;
 }
.lableClr{
    color: rgb(155,164,182);
}
/*
.rev{
    display: none;
}
.reviews-btn:hover .rev{
    
        display: block;
    
}7
*/

  /*end section2*/

 /*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>about.html<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
 /*section 1*/
.about{
    background-image:url(../about/contact-bg-2.jpg);
    height: 400px;
    background-size:cover;
    
}
.burgos-about {
    animation: content 2s;
}
 @keyframes content{ 
    from{
  transform: translate(-60%);
    }
    to{
        transform: translate(0%);
    }
}
@media screen and (max-width:1270px){

     .OUR-FEATURES .our-features-contant{
        display: none !important;
    }
    .OUR-FEATURES .row{
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width:1100px){

    .Something-about-Burgos .img2{
         display: none;
     }
     .Something-about-Burgos .img1{
        display: none;
     }
     .something-about{
         font-size:12px;
     }
        .something-about h2{
         font-size:22px !important;
     }
        .something-about a{
         font-size:12px !important;
     }
     .feature-font h4{
        font-size: 12px;
     }
    
}

.about h2{
    border-left: 3px solid var(--maincolor);
     padding-left: 5px;

}
.burgos-about h1{
    font-size:70px;
}
 /*end section1*/

 /* section2*/
 .something-about h2{
    font-size: 50px;
    color: rgb(27, 42, 73);
 }
 .something-about p{
        color: #333333;
 }
 .Something-about-Burgos{
    padding-bottom: 160px;
    padding-top: 150px;
 }
 /*end section2*/
 /*section3*/
 .OUR-FEATURES .bg{
    background-image: url(../about/bg-2.webp);
    height: 800px;
    background-size:cover;
    position: relative;

 }
 .our-features-contant{
    background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%
100.79%
, #fdc830 100.79%);
 color: #1B2A49;
    padding: 170px 30px 227px 60px;
    position: absolute;
    right: 196px;
    top: -9%;
    animation: features-contant 2s;
 }
 @media screen and (max-width:1150px){
    .our-features-contant{
      display: none;
    }
 }
    
 @keyframes features-contant{  
    from{
  transform: translateY(-10%)
    }
    to{
        transform: translateY(0%);
    }
}
 .sss{
    height: 500px;
 }
 /*end section3*/
 /*section4*/
 .Clients-about-us{
    padding-top: 200px;
 }
 .Clients-about-us .right-side .carousel-item {
    padding: 60px;
    border-left:5px solid var(--maincolor);
       color: #1B2A49;
    
 }
 .Clients-about-us .left-side h2{
       color: #1B2A49;
       font-size: 60px;
 }
  .Clients-about-us .left-side a{
     color: #1B2A49;
  }
 
  .Clients-about-us .carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}
  .Clients-about-us .carousel-control-next-icon{
    background-color: black;
    border-radius: 50%;
}
 /*end section4*/
 /*section5*/
 .ORDER-AND-PAY-bg{
    background-image: url(../about/bg-3.webp);
    background-size: cover;
    height: 680px;
    position: relative;
 }
 .order-and-pay-content h3{
    font-size: 60px;
 }
 .order-and-pay-content{
    animation: orderContent 3s ease;
 }
 @keyframes orderContent{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
 }

 .ORDER-AND-PAY .burger-img{
     position: absolute;
     right: 96px;
     bottom: -12px;
     animation:orderImg 3s ease;
    }
    @keyframes orderImg{
      from{
          transform: translateX(100%);
      }
      to{
          transform: translateX(0%);
      }
   }
    .dawnload-btn{
    color: black;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 12px 40px 12px 40px;
    font-size: 14px;
    font-family: var(--mainFont);
    cursor: pointer;
 }
 .dawnload-button .app-store{
     background-color:#fbb731 ;
     transition:all 0.2s ease;
 }
 .dawnload-button .google-play{
    background-color: #fff;
     transition:all 0.2s ease;
 }
 .app-store:hover{
        transform: translateY(-10px);
 }
  .google-play:hover{
        transform: translateY(-10px);
 }
 
 @media screen and (max-width:1292px){
 .ORDER-AND-PAY .burger-img{
    display: none;
 }
 }

 /*end section 5*/

